@use "../../../presets" as *;
@use "../../../mixins" as *;

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    &__language {
        &-link {}
    }

    &__locations {}

    &__phones {
        &-link {}
    }

    &__socials {
        &-link {}

        &-image {}
    }
}