@use "../../../presets" as *;
@use "../../../mixins" as *;

.menu {
    justify-self: end;

    &__list {
        // !список ul делает не списком
        @include unlist;
        display: flex;
        justify-content: flex-end;
        gap: 15px;

        @include md {
            flex-wrap: wrap;
        }

        @include sm {
            display: none;
        }
    }

    &__item {}

    &__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;

        &:hover {
            color: $color-accent;
        }
    }
}

.active {}

