@use "../../../presets" as *;
@use "../../../mixins" as *;

.page-main {}

.experience {
    background-color: $color-primary;

    @include lg-min {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include lg {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &-container {
        @extend %container;
    }
}

.slider {
    display: flex;

    @include lg-min {
        gap: 80px;
    }

    @include lg {
        flex-direction: column;
    }

    &__headers {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-basis: 0;
        flex-grow: 2;

        @include lg-min {
            &::after {
                content: "";
                position: absolute;
                width: 4px;
                height: 100%;
                right: -42px;
                background-color: $color-gray-separator;
            }
        }
    }

    &__header {

        line-height: 50px;
        color: $color-gray-text;

        @include lg-min {
            text-align: right;
            font-size: 42px;
        }

        @include lg {
            display: none;
            font-size: 14px;

            span {
                background: linear-gradient(90deg, #EF8080 0%, #F0145A 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
            }
        }

        &.active {
            position: relative;

            @include lg-min {
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    width: 4px;
                    height: 100%;
                    right: -42px;
                    background-color: $color-accent;
                }
            }

            @include lg {
                display: block;
            }

            span {
                background: linear-gradient(90deg, #EF8080 0%, #F0145A 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
    }

    &__notes {
        display: flex;
        align-items: center;
        flex-basis: 0;
        flex-grow: 3;
    }

    &__note {
        // !скрывает
        display: none;

        @include lg-min {
            max-width: 600px;
        }

        &.active {
            // !отображает
            display: block;
        }

        &-title {
            font-size: 32px;
            line-height: 38px;
            color: #FFFFFF;
            margin-bottom: 20px;

            @include lg {
                font-size: 22px;
            }
        }

        &-description {
            font-size: 21px;
            line-height: 30px;
            color: #FFFFFF;

            @include lg {
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
    }

    &__indicators {

        @include lg-min {
            display: none;
        }

        @include lg {
            display: flex;
            justify-content: center;
            gap: 14px;
        }

    }

    &__indicator {

        // !include lg ставить НЕ ОБЯЗАТЕЛЬНО, у нас весь блок скрытый до lg размера
        @include lg {
            width: 16px;
            height: 16px;
            background: #24A3FF;
            opacity: 0.2;
            // !чтобы закруглить (размер умножаем на 0,5)
            // border-radius: 16px * 0.5;
            border-radius: 8px;
        }

        &.active {

            // !include lg ставить НЕ ОБЯЗАТЕЛЬНО, у нас весь блок скрытый до lg размера
            @include lg {
                background: #24A3FF;
                opacity: 1;
            }
        }
    }
}